body{
  background-color: black;
  background-image:  url('/BG3.jpg');
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center center;
  
}
.NavBarSection{
  height: 120px;
}

